<table class="table-container" [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
  <!-- Dynamically generate columns based on displayedColumns -->
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th *matHeaderCellDef mat-header-cell> {{ column }} </th>
    <td *matCellDef="let element" mat-cell> {{ element[column] }} </td>
  </ng-container>

  <!-- Header row -->
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <!-- Data rows -->
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>