<div class="flex-container" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="15px">
    <div class="flex-item">
        <app-voting [voters]="voters" [candidates]="candidates"></app-voting>
    </div>
    <div class="flex-item" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="space-around center">
        <h2>Voting App</h2>
        <div fxLayout="row" fxLayoutGap="12px" fx>
            <app-voters [voters]="voters"></app-voters>
            <app-candidates [candidates]="candidates"></app-candidates>
            <!-- <app-voting-stats [data]="data_voters" [data_columns]="['name', 'hasvoted']" [label]="'voters'"></app-voting-stats> -->
        </div>
    </div>
</div>