.flex-container {
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
    width: 80%;
}

.flex-item {
    border-radius: 10px;
    box-shadow: 6px 6px 12px 0px grey;
    padding-top: 10px;
    width: 100%;
}