<div class="flex-container" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="15px">
    <div class="flex-item">
        <app-voting (voteClicked)="vote($event)" [candidates]="candidates" [voters]="votersWhoCanVote"></app-voting>
    </div>
    <div class="flex-item" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="8px">
        <h2>Voting App</h2>
        <div class="dataDisplay" fxLayout="row" fxLayoutGap="12px">
            <app-voters (addVoterClicked)="addVoter($event)" [voters]="voters"></app-voters>
            <app-candidates (addCandidateClicked)="addCandidate($event)" [candidates]="candidates"></app-candidates>
        </div>
    </div>
</div>